@charset "utf-8";

body {
	background-color: aqua;
	
}

nav{
	background-color: dodgerblue;
	
}

li a{font-display: block;
	text-decoration: none;
	background color: antiquewhite	
}
li a:hover{ 
background-color: aqua;
color: cornflowerblue}


